In [25]:
import pandas as pd

df = pd.read_csv(r'C:\Users\Student\Downloads\autos_new.csv')
df['unrepaired_damage'].unique()

df.iloc[0]

#df.groupby(by=['unrepaired_damage'])['name'].count()
df = df[['name','dollar_price','registration_year','kilometer','brand','unrepaired_damage','model','vehicle_type']]

# Filtrujeme na hodnotu 'nein', protoze chceme pouze nebourana auta
# Zaroven nas zajimaji pouze hodnoty skoda ze sloupce brand
# Pouzivame logickou podminku A za pomoci znaku &, jednotlive podminky oddelujeme zavorkami
df = df[(df['unrepaired_damage']=='nein') ]
# Uz mame pouze nebourana auta, sloupecek mazeme
df.drop('unrepaired_damage',inplace=True,axis=1)
# Dataset je z roku 2016, od tohoto roku pocitame stari vozu
df['stari'] = 2016 - df['registration_year']
# Filtrujeme na vozi mladsi ci rovno 20 let
df = df[df['stari']<=20]
df

,name,dollar_price,registration_year,kilometer,brand,model,vehicle_type,stari
2,GOLF_4_1_4__3TÜRER,1500,2001,150000,volkswagen,golf,small car,15
3,Skoda_Fabia_1.4_TDI_PD_Classic,3600,2008,90000,skoda,fabia,small car,8
5,Peugeot_206_CC_110_Platinum,2200,2004,150000,peugeot,2_reihe,convertible,12
8,Mazda_3_1.6_Sport,2000,2004,150000,mazda,3_reihe,limousine,12
11,VW_PASSAT_1.9_TDI_131_PS_LEDER,2500,2004,150000,volkswagen,passat,station wagon,12
...,...,...,...,...,...,...,...,...
335103,Alfa_Romeo_159_Jtdm_1.9_150_ps_13_600_km_top_voll,5250,2016,150000,alfa_romeo,159,NaN,0
335105,Opel_Zafira_1.6_Elegance_TÜV_12/16,1150,2000,150000,opel,zafira,bus,16
335107,Smart_smart_leistungssteigerung_100ps,1199,2000,125000,smart,fortwo,convertible,16
335108,Volkswagen_Multivan_T4_TDI_7DC_UY2,9200,1996,150000,volkswagen,transporter,bus,20
335110,BMW_M135i_vollausgestattet_NP_52.720____Euro,28990,2013,50000,bmw,m_reihe,limousine,3

In [33]:
# Za pomoci .copy() vytvarime fyzickou kopii dataframe df
df1 = df.copy()

# Pro kazdou jednu hodnotu z unikatnich  hodnot ve sloupci vehicle_type
for  i in df1['vehicle_type'].unique():
    _df = df1[df1['vehicle_type']== i ]
# Korelační matici s rozdělením podle vehicle_type
    # Dataframe omezujeme pouze na ciselne sloupce, ktere pak vstupuji do korelace
    _df = _df.select_dtypes(['number'])
    # do promenne si ukladame korelacni matici
    foo = _df.corr()
    # Korelacni matici vypisujeem do konzole
    print(f'{i}',foo,'\n')

small car                    dollar_price  registration_year  kilometer     stari
dollar_price           1.000000           0.767468  -0.632689 -0.767468
registration_year      0.767468           1.000000  -0.650914 -1.000000
kilometer             -0.632689          -0.650914   1.000000  0.650914
stari                 -0.767468          -1.000000   0.650914  1.000000

convertible                    dollar_price  registration_year  kilometer     stari
dollar_price           1.000000           0.483613  -0.465585 -0.483613
registration_year      0.483613           1.000000  -0.645386 -1.000000
kilometer             -0.465585          -0.645386   1.000000  0.645386
stari                 -0.483613          -1.000000   0.645386  1.000000

limousine                    dollar_price  registration_year  kilometer     stari
dollar_price           1.000000           0.719178  -0.531559 -0.719178
registration_year      0.719178           1.000000  -0.580256 -1.000000
kilometer             -0.531559          -0.580256   1.000000  0.580256
stari                 -0.719178          -1.000000   0.580256  1.000000

station wagon                    dollar_price  registration_year  kilometer     stari
dollar_price           1.000000           0.746659  -0.562029 -0.746659
registration_year      0.746659           1.000000  -0.521260 -1.000000
kilometer             -0.562029          -0.521260   1.000000  0.521260
stari                 -0.746659          -1.000000   0.521260  1.000000

nan                    dollar_price  registration_year  kilometer  stari
dollar_price                NaN                NaN        NaN    NaN
registration_year           NaN                NaN        NaN    NaN
kilometer                   NaN                NaN        NaN    NaN
stari                       NaN                NaN        NaN    NaN

bus                    dollar_price  registration_year  kilometer     stari
dollar_price           1.000000           0.644104  -0.537313 -0.644104
registration_year      0.644104           1.000000  -0.580272 -1.000000
kilometer             -0.537313          -0.580272   1.000000  0.580272
stari                 -0.644104          -1.000000   0.580272  1.000000

coupé                    dollar_price  registration_year  kilometer     stari
dollar_price           1.000000           0.475812  -0.503737 -0.475812
registration_year      0.475812           1.000000  -0.587768 -1.000000
kilometer             -0.503737          -0.587768   1.000000  0.587768
stari                 -0.475812          -1.000000   0.587768  1.000000

other                    dollar_price  registration_year  kilometer     stari
dollar_price           1.000000           0.524827  -0.358663 -0.524827
registration_year      0.524827           1.000000  -0.492728 -1.000000
kilometer             -0.358663          -0.492728   1.000000  0.492728
stari                 -0.524827          -1.000000   0.492728  1.000000